[submodule "rend3"]
	path = rend3
	url = git@github.com:pillowtrucker/rend3.git
[submodule "inox2d"]
	path = inox2d
	url = git@github.com:pillowtrucker/inox2d.git
[submodule "brainworms_farting_noises/libymfm.wasm"]
	path = brainworms_farting_noises/libymfm.wasm
	url = git@github.com:pillowtrucker/libymfm.wasm.git
